@font-face {
  font-family: DINAlternateBold;
  src: url("./Fonts/DINAlternateBold.otf");
}

@font-face {
  font-family: DINAlternateRegular;
  src: url("./Fonts/DINAlternateRegular.otf");
}

.App {
  text-align: center;
  text-decoration: none;
  font-family: DINAlternateRegular, sans-serif;
}

a {
  color: #073d3c;
  text-decoration: none;
}
a:hover {
  color: #b3e1e5;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: DINAlternateBold, sans-serif;
  background-color: rgba(171, 211, 203, 0.4);
}

.logo {
  height: 8rem;
  padding: 1rem 0 0 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  padding-right: 1rem;
  align-items: flex-end;
}

footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height:50px;
  background-color: rgba(171, 211, 203, 0.3);
}

#navBar {
  display: flex;
  flex-direction: row;
}

#navItem {
  padding: 0 1rem;
  color: #9cbabc;
  font-family: DINAlternateRegular, sans-serif;
}
#navItem:hover {
  color: #bce0e5;

}

#introInfo {
  display:flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 77%;

    color: #EEFCFA;
    background-color: rgba(171, 211, 203, 0.3);
}
#name {
  font-size: 4rem;
}

#sarahPhoto {
  width: 76%
}


#squareSection {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: #FCF3CF;
  width:100%
}

#squareOne {
  padding: 1rem;
  width: 33%;
  background-color: #76D7C4;
}

#squareTwo {
  padding: 1rem;
  width: 33%;
  background-color: #A3E4D7;
}

#squareThree {
  padding: 1rem;
  width: 33%;
  background-color: #76D7C4;
}


#navagateButton {
  display: flex;
  background-color: #84afae;
  width: 60%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

#webProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%
}

#projectsSection {
  color: #16A085  ;
}

#projectTile {
  display: flex;
  flex-direction: column;
}

#projectTitle {
  font-size: 1.5rem;
  color: #117864;
}

#projectIcon {
  width: 86%;
  padding: 1rem;
}

#copy{
  padding-left: 1rem
}
#social{
  padding-right: 1rem
}
.socialPhoto {
  width: 40px;
  padding-right: 0.5rem
}
