@font-face {
  font-family: DINAlternateBold;
  src: url("./Fonts/DINAlternateBold.otf");
}

@font-face {
  font-family: DINAlternateRegular;
  src: url("./Fonts/DINAlternateRegular.otf");
}

.App {
  text-align: center;
  text-decoration: none;
  font-family: DINAlternateRegular, sans-serif;
}
a {
  color: #073d3c;
  text-decoration: none;
}
a:hover {
  color: #b3e1e5;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: DINAlternateBold, sans-serif;
  background-color: rgba(171, 211, 203, 0.4);
}

.logo {
  height: 8rem;
  padding: 1rem 0 0 1rem;
  opacity: 1
}

nav {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  padding-right: 1rem;
  align-items: flex-end;
}

#sarahPhoto {
  width: 100%
}


#squareSection {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: #FCF3CF;
  width:100%
}

#squareOne {
  padding: 1rem;
  width: 33%;
  background-color: #76D7C4;
}

#squareTwo {
  padding: 1rem;
  width: 33%;
  background-color: #A3E4D7;
}

#squareThree {
  padding: 1rem;
  width: 33%;
  background-color: #76D7C4;
}


#navagateButton {
  display: flex;
  background-color: #84afae;
  width: 60%;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
}

#webProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%
}

#projectsSection {
  color: #16A085  ;
}

#projectTile {
  display: flex;
  flex-direction: column;
}

#projectTitle {
  font-size: 1.5rem;
  color: #117864;
}

#projectIcon {
  width: 86%;
  padding: 1rem;
}

.socialPhoto {
  width: 40px;
  padding: 0.5rem 3rem 0.5rem 1rem;
}

#navBar {
  display: flex;
  flex-direction: row;
}

#navItem {
  padding: 0 1rem;
  color: #bce0e5;
  font-family: DINAlternateRegular, sans-serif;
}
#navItem:hover {
  color: #9cbabc
}

#introInfo {
  display:flex;
  flex-direction: column;
  margin-top: 4rem;
  margin-left: 13rem;
  margin-right: 13rem;
    background-color: rgba(171, 211, 203, 0.4);
}
