@font-face {
  font-family: DINAlternateBold;
  src: url("./Fonts/DINAlternateBold.otf");
}

@font-face {
  font-family: DINAlternateRegular;
  src: url("./Fonts/DINAlternateRegular.otf");
}

.App {
  text-align: center;
  text-decoration: none;
  font-family: DINAlternateRegular, sans-serif;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  background-color: rgba(171, 211, 203, 0.3);
}

a {
  color: #073d3c;
  text-decoration: none;
}
a:hover {
  color: #b3e1e5;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  font-family: DINAlternateBold, sans-serif;
  background-color: rgba(87, 136, 129, 0.4);
  width: 100%;
}

nav {
  display: flex;
  font-size: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(171, 211, 203, 0.3);
  bottom: 0;
  height: 80px;
}

input[type="text"] {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  width: 70%;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  font-size: 1em;
  border: 1px solid #515151;
}

.logo {
  height: 8rem;
  padding: 1rem 0 0 1rem;
}

#mobileNav {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

#navBar {
  display: flex;
  flex-direction: row;
}

#navItem1 {
  display: flex;
  color: #bce0e5;
  font-family: DINAlternateRegular, sans-serif;
  font-size: 1.3rem;
  background-color: rgba(171, 211, 203, 0.3);
  margin: 0.4rem;
  border: 1px;
  border-radius: 5px;
  border-style: dotted;
}
#navItem1:hover {
  color: #9cbabc;
}

#navItem {
  display: flex;
  padding: 0 1rem;
  color: #bce0e5;
  font-family: DINAlternateRegular, sans-serif;
  font-size: 1.3rem;
  background-color: rgba(100, 190, 190, 0.3);
  margin: 0.4rem;
  border: 1px;
  border-radius: 5px;
  border-style: dotted;
}
#navItem:hover {
  color: #7c9591;
}

#introInfo {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 77%;

  color: #eefcfa;
  background-color: rgba(171, 211, 203, 0.3);
}
#Info {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  color: #eefcfa;
  background-color: rgba(171, 211, 203, 0.3);
}
#name {
  font-size: 4rem;
}

#sarahPhoto {
  width: 98%;
}
#SeJ {
  font-size: 2rem;
}

#Photo {
  width: 90%;
}

#squareSection {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  background-color: #fcf3cf;
}

#outterSquare {
  padding: 1rem;
  width: 30%;
  background-color: #b3e1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#innerSquare {
  padding: 1rem;
  width: 30%;
  background-color: #ccf1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#mobileTop {
  padding: 1rem;
  width: 95.5%;
  background-color: #b3e1e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#mobileMiddle {
  padding: 1rem;
  width: 95.5%;
  background-color: #ccf1f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#navagateButton {
  display: flex;
  background-color: #84afae;
  height: 3rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  padding-left: 1rem;
  padding-right: 1rem;
}

#webProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  width: 100%;
}

#projects {
  background-color: #fcf3cf;
}

#projectTile {
  display: flex;
  flex-direction: column;
}

#projectTitle {
  font-size: 1.5rem;
}

#projectIcon {
  width: 86%;
  padding: 1rem;
}

.mobileImage {
  width: 90%;
  padding: 0.5rem;
}
#images {
  dislplay: flex;
}

#imageContainer {
  display: flex;
  flex-direction: row;
}

.desktopPhotos {
  width: 30%;
  height: 30%;
  margin: 1rem;
}
.photos{
  width:45%;
  height:35%;
  margin:1rem
}

#contactForm {
  background-color: #fcf3cf;
  height: 433px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2rem;
  padding-left: 14rem;
}

#submitButton {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #54948b;
  border: 3px solid #787c7b;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin: 0.5em;
  margin-left: 1em;
  width: 200px;
  height: auto;
  font-family: SoftLine, sans-serif;
}

#formTitle {
  font-size: 1.5rem;
  color: #5a5f5f;
}

#copy {
  padding-left: 1rem;
}
#social {
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
}
.socialPhoto {
  width: 40px;
  padding-right: 0.5rem;
}

.socialPhotos {
  width: 7%;
  padding-right: 1rem;
}
